angular.module('<%= camelCasedName %>').component('<%= camelCasedName %>', {
    controllerAs: '<%= camelCasedName %>',
    controller  : '<%= camelCasedName %>Ctrl',<% if (tpl) { %>
    templateUrl : '<%= tplFullPath %>',<% } else { %>
    template    : '<div class="<%= dashedName %>"></div>',<% } %>
    bindings: {}
});